---
import Layout from '@/layouts/Layout.astro';
import { Header } from '@/components/Header/Header';
---

<Layout title="Welcome to Astro.">
	<div>
		<Header />
		<h1 class="text-[24px] font-bold">Welcome to <span class="text-gradient">Astro</span></h1>
	</div>
</Layout>

