---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<h1 class="text-[24px] font-bold">Welcome to <span class="text-gradient">Astro</span></h1>
	</div>
</Layout>

